If:
  PathMatch: 
    - .*\.hpp
    - .*\.cpp
CompileFlags:
  Add: [-std=c++20, -Wall, -Wextra, -fexperimental-library]
Diagnostics:
  UnusedIncludes: None
  Includes:
    IgnoreHeader:
      - glm/.*\.hpp
      - PALConfigurables\.hpp
      - yaml-cpp/yaml\.h
---
If:
  PathMatch:
    - engine/src/macos/.*\.hpp
    - engine/src/macos/.*\.mm
CompileFlags:
   Add: [-x, objective-c++, -D__OBJC__, -D__OBJC2__, -ObjC++]
---
If:
  PathMatch: engine/src/vulkan/.*
Diagnostics:
  Includes:
    IgnoreHeader:
      - vulkan/vulkan.hpp