# Don't send builds
Build
citruscore/build
citrusglglfw/build

# Don't send auto-created logs
citrus-engine.log

# Don't send VS Code files
.vscode

# Don't send boost files
libs/boost

# Don't send testing files
a.cpp
a