[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/RobotLeopard86/citrus-glfw
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/RobotLeopard86/citrus-imgui
	branch = docking
