# Don't send builds
*/build

# Don't send generated library files
libs/generated

# Don't send auto-created logs
cacao-engine.log
.ninja_log

# Don't send VS Code files
.vscode

# Don't send selected backend bin symlink
selected-backend-bin

# Don't send playground binaries
cacaoplayground/cacao
cacaoplayground/cacao.exe
cacaoplayground/libcacaobackend.so
cacaoplayground/libcacao.so
cacaoplayground/cacao.dll
cacaoplayground/cacaobackend.dll
*.so
*.dll
*.exe