# Don't send auto-created logs
cacao-engine.log
.ninja_log

# Don't send VS Code files
.vscode

# Don't send Wrap-downloaded things
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
!subprojects/glad
!subprojects/stb
!subprojects/dr_libs
!subprojects/cli11
!subprojects/spinners-plus-plus
subprojects/nlohmannjson.wrap
subprojects/reflex.wrap

# Don't send Python crap from utility scripts
scripts/__pycache__

# Don't send local scripts
scripts/local

# Don't send Meson subproject download hash
.meson-subproject-wrap-hash.txt

# Don't send built docs
docs/*
!docs/conf.py
!docs/*.rst
!docs/manual
!docs/assets
!docs/README.md
!docs/requirements.txt
!docs/switcher.json

# Don't send macOS .DS_Store files
.DS_Store

# Don't send the local stuff directory
.local

# Don't send Visual Studio things
.vs
x64
*.vcxproj*
*.sln