[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp
[submodule "libs/spirv-cross"]
	path = libs/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "libs/dynalo"]
	path = libs/dynalo
	url = https://github.com/maddouri/dynalo
[submodule "libs/openal-soft"]
	path = libs/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "libs/alure"]
	path = libs/alure
	url = https://github.com/kcat/alure
[submodule "libs/vorbis"]
	path = libs/vorbis
	url = https://gitlab.xiph.org/xiph/vorbis
[submodule "libs/ogg"]
	path = libs/ogg
	url = https://gitlab.xiph.org/xiph/ogg/
