name: Update docs on push

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Doxygen
        run: |
          sudo apt-get update;
          sudo apt install doxygen -y
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Build documentation
        uses: sphinx-notes/pages@v3
        with:
          python_version: "3.12"
          sphinx_build_options: "-j auto -a"
          target_path: latest
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
