name: Build documentation

permissions: write-all

on:
  push:
    branches: [main, dev]
  release:
        types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
      - name: Install dependencies
        run: |
          sudo rm /var/lib/man-db/auto-update
          sudo apt-get update;
          sudo apt-get install doxygen -y
          cd docs
          pip install -r requirements.txt
      - name: Create temporary directory for build
        run: |
          git clone ${{ github.server_url }}/${{ github.repository }} /tmp/PAGESBUILD -b gh-pages
          git -C /tmp/PAGESBUILD pull
      - name: Determine version to build
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "BUILDVER=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          else
            echo "BUILDVER=${GITHUB_REF_NAME}" >> $GITHUB_ENV
          fi
      - name: Build documentation
        run: |
          echo "Building documentation for version " ${BUILDVER}
          cd docs
          rm -rvf /tmp/PAGESBUILD/${BUILDVER}
          sphinx-build -b html -j auto -a . /tmp/PAGESBUILD/${BUILDVER}
          cd /tmp/PAGESBUILD
          find . -path "*doctrees*" -exec rm -rvf "{}" +
      - name: Redirect stable link
        if: ${{ github.event_name == 'release' }}
        run: |
            cd /tmp/PAGESBUILD
            echo "Redirecting stable link to newly released version " $BUILDVER
            rm -rf stable
            ln -s $BUILDVER stable
      - name: Setup GitHub Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: /tmp/PAGESBUILD
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Add docs changes to Git
        run: |
          cd /tmp/PAGESBUILD
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git pull
          git add .
          git commit --allow-empty -m "Add changes for ${{ github.sha }}"
      - name: Push docs changes to GitHub
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          directory: /tmp/PAGESBUILD
      - name: Cleanup build directory
        run: |
          rm -rvf /tmp/PAGESBUILD
