name: Update docs on development push

permissions: write-all

on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"
      - name: Install Doxygen
        run: |
          sudo apt-get update;
          sudo apt-get install doxygen -y
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Create temporary directory for build
        run: |
          git clone ${{ github.server_url }}/${{ github.repository }} /tmp/PAGESBUILD
          git -C /tmp/PAGESBUILD checkout gh-pages
          git pull
      - name: Install Python dependencies
        run: |
          pip install -r docs/requirements.txt
      - name: Build documentation
        run: |
          cd docs
          rm -rvf /tmp/PAGESBUILD/dev
          sphinx-build -b html -j auto -a . /tmp/PAGESBUILD/dev
      - name: Add changes
        run: |
          cd /tmp/PAGESBUILD
          find . -path "*doctrees*" -exec rm -rvf "{}" +
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit --allow-empty -m "Add changes for ${{ github.sha }}"
          git pull
      - name: Push changes
        uses: ad-m/github-push-action@v0.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          directory: /tmp/PAGESBUILD
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: /tmp/PAGESBUILD
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
      - name: Cleanup temp directory
        run: |
          rm -rvf /tmp/PAGESBUILD
